<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Oops! Something went wrong!</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="description" content="Minhyeok Park's personal homelab server with various services including storage, games, monitoring tools, and development resources." />
    <meta name="keywords" content="homelab, kubernetes, selfhosted, cloud services, minio, minecraft, grafana, authentik" />
    <meta name="author" content="Minhyeok Park" />
    <meta name="robots" content="index, follow" />

    <meta content="Oops! Something went wrong!" property="og:title" />
    <meta content="Minhyeok Park's personal homelab server with various services including storage, games, monitoring tools, and development resources." property="og:description" />
    <meta content="https://pmh.codes" property="og:url" />
    <meta content="https://pmh.codes/favicon.svg" property="og:image" />
    <meta content="website" property="og:type" />
    <meta content="Status {{status}}" property="og:site_name" />
    <meta content="512" property="og:image:width" />
    <meta content="512" property="og:image:height" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@pmh_only" />
    <meta name="twitter:creator" content="@pmh_only" />
    <meta name="twitter:title" content="Oops! Something went wrong!" />
    <meta name="twitter:description" content="Minhyeok Park's personal homelab server with various services including storage, games, monitoring tools, and development resources." />
    <meta name="twitter:image" content="https://pmh.codes/favicon.svg" />

    <meta content="#ffaaaa" name="theme-color" />
    <meta name="msapplication-TileColor" content="#ffaaaa" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />

    <style>{{{builtStyle}}}</style>
  </head>
  <body class="flex min-w-screen min-h-screen justify-center">
    <main class="max-w-xl w-full p-10">
      <div class="mockup-browser border-base-300 border w-full shadow-xl hover:shadow-lg transition mb-2">
        <div class="mockup-browser-toolbar">
          <div class="input">{{url}}</div>
        </div>
        <div class="p-6 border-t border-base-300 min-h-60 flex flex-col gap-6 justify-between h-full items-start break-all">
          {{embed}}
        </div>
      </div>

      <p class="text-xs mt-4">
        id: <code class="select-all">{{status}}.{{requestId}}</code><br />
        t: <code class="select-all">{{namespace}}.{{ingress}}.{{service}}.{{port}}</code>
      </p>
    </main>
  </body>
</html>
